#header {
    height: 100px;
    margin-bottom: 20px;
    min-width: 850px;
    padding: 30px;
    text-align: center;

}

#realheader {
    border-top: #000000 1px dotted;
    width: 850px;
    height: 18px;
    margin: auto;
    text-shadow: #000099;

}

#content {
    padding-bottom: 50px;
    padding-top: 5px;
    padding-left: 75px;
    padding-right: 75px;
    min-width: 700px;
}

#content1 {
    min-width: 400px;
    width: 600px;
    min-height: 300px;
    height: auto;
    margin: auto;
}

#footer {
    height: 50px;
    bottom: 0;
    margin-top: 20px;
    min-width: 850px;

}

#realfooter {
    border-top: dotted #000000 1px;
    width: 850px;
    height: 20px;
    margin: auto;
    text-align: center;
    font-family: verdana,arial,sans-serif;
    font-size: 13px;
}

#link {
    overflow: visible;
    width: auto;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
    font-family: Tahoma;
    text-align: center;
    margin-top: 3px;
}

#link span {
    color: #00f;
    text-decoration: underline;
}

#line {
    width: auto;
    height: 10px;
    float: right;
    margin-right: 5px;
    text-align: center;
}

#title {
    font-family: verdana,arial,sans-serif;
    font-size: 20px;
    text-align: center;
}

#hello {
    text-align: right;
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
    width: 75%;
    margin: auto;
}

#centre {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
}

#input {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;

}

#flight {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
    margin-bottom: 30px;
}

#flightFooter {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-style: groove;
    border-bottom-width: thin;
}

.box {
    white-space: nowrap;
    text-align: left;
    margin-bottom: 2px;
}

.box div {
    width: auto;
    display: inline-block;
}

#values {
    font-weight: bold;
}

a {
    color:inherit;
    text-decoration: none;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #abadb3;
    width: 300px;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000000;
    background-color: #e1e2e7;
    border-color: #abadb3;
    width: 300px;
}

textarea {
    width: 300px;
    height: 250px;
}

table.table-style-one {
    font-family: verdana,arial,sans-serif;
    font-size:12px;
    color:#000000;
    border-width: 1px;
    border-color: #abadb3;
    border-collapse: collapse;
}
table.table-style-one th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #abadb3;
    background-color: #B3B3B3;
}
table.table-style-one td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #abadb3;
    background-color: #ffffff;
    text-align: center;
}

input[type="number"] {
    width: 90px;
}

